.gitignore
.vscode
additional/*
build/
data/TestData.npz
*/__pycache__/*
__pycache__/
dist/
path_tmp
*.pyc
.DS_Store
annotation_tool/
weights/
.install.spec
data/TrainData.npz
theano_modules(deprecated)
data/TestData_3cl.npz
data/TestData_coronal_3cl.npz
data/TestData_nonesmall_3cl.npz
data/TrainData_3cl.npz
data/TrainData_coronal_3cl.npz
data/TrainData_nonesmall_3cl.npz


