.gitignore
.vscode
additional/*
build/
data/TestData.npz
*/__pycache__/*
__pycache__/
dist/
path_tmp
*.pyc
.DS_Store
annotation_tool/
weights/
.install.spec
data/TrainData.npz
theano_modules(deprecated)
data/*.npz
data/old/*.npz
tmp/